@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html,
body {
  max-width: 100%;
}

h1 {
  font-size: 3vw;
  color: #707070;
}

h2 {
  font-size: 2vw;
}

.l-footer {
  line-height: 1.8rem;
  height: 2rem;
  width: 100%;
  color: #ffffff;
  background-image: url(../img/_____1.png);
  background-size: cover;
  text-align: center;
  padding: 2rem 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.l-header {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  height: 7rem;
  width: 100%;
  background-color: #FFF7EF;
  float: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-header h1 {
  display: inline-block;
  line-height: 7rem;
  margin-left: 1.5rem;
}

.l-hero {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  width: 100%;
}

.l-hero img {
  height: 15rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.l-hero p {
  color: #ffffff;
  position: absolute;
  left: 5rem;
  top: 14rem;
  font-size: 2rem;
}

.l-main {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.l-map {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.l-sidebar {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  color: #707070;
  line-height: 3;
}

.p-all-wrap {
  width: 100%;
}

.p-search-form::before {
  content: "";
  width: 17px;
  height: 17px;
  background-image: url(/img/search-solid.svg);
  font-size: 1.6rem;
  display: block;
  position: absolute;
  left: 5px;
  top: calc( 50% - 7px);
}

.p-search-form {
  float: right;
  width: 20rem;
  line-height: 7rem;
  position: relative;
}

.p-article__menu1, .p-article__menu2 {
  background-image: url(../img/three_burgers_on_brown_wooden_@2x.png);
  width: 100%;
  height: 60vw;
  margin: 3rem 2rem;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-article__menu1 h2, .p-article__menu2 h2 {
  font-size: 2rem;
  color: #ffffff;
  margin: 1rem 1.5rem;
}

.p-article__border {
  border: 1px solid #ffffff;
  width: 2rem;
  margin-left: 1.5rem;
}

.p-article__textarea dl {
  width: 90%;
  background-color: #ffffff;
  margin: 1rem auto;
  bottom: 0;
  opacity: 0.8;
}

.p-article__textarea dt {
  padding: 2rem;
  font-size: 1.5em;
  padding: 1rem;
}

.p-article__textarea dd {
  margin: 0;
  padding: 1rem;
}

.p-article__menu2 {
  background-image: url(../img/ID473d814b175bd517b56eb309f295.png);
  background-size: cover;
}

.p-map__wrapper {
  background-image: url(../img/__________2020_02_10_11_47_42.png);
  background-size: cover;
  position: relative;
  height: 22rem;
  width: 100%;
}

.p-map__wrapper::before {
  /* 透過した黒を上から重ねるイメージ */
  background-color: rgba(0, 0, 0, 0.4);
  /* 自由に位置指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: " ";
}

.p-map__article {
  height: 100%;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  color: #ffffff;
  opacity: 0.7;
}

.p-map__textarea {
  margin: 2rem;
  height: 20rem;
}

.p-map__textarea dt {
  font-size: 2rem;
  padding: 1rem;
}

.p-map__border {
  border: 1px solid #fff;
  width: 3rem;
  margin: 1rem;
}

dd {
  margin: 1rem;
  line-height: 1.2;
}

.p-sidebar__wrapper {
  background-color: #f2ede9;
  height: auto;
  width: 25%;
}

.p-sidebar__wrapper h2 {
  font-size: 3rem;
  padding: 3rem 0 3rem 2rem;
}

.p-sidebar__wrapper li {
  font-size: 1rem;
  list-style: none;
  padding: 2rem;
}
/*# sourceMappingURL=style.css.map */