.l-footer {
    line-height: 1.8rem;
    // height: 2rem;
    // width: 100%;
    color: #ffffff;
    background-image: url(../img/_____1.png);
    background-size: cover;
    text-align: center;
    padding: 2rem 0;
    // flex-basis: 100%;
    grid-area: l-footer;
  }