.l-header{
    // flex-basis: 70%;
    // height: 7rem;
    // width: 100%;
    background-color:#fff7ef;
    float: left;
    justify-content: space-between;
    grid-area: l-header;

    h1 {
        display: inline-block;
        line-height: 7rem;
        margin-left: 1.5rem;

    }

}

