.l-header{
    flex-basis: 70%;
    height: 7rem;
    width: 100%;
    background-color:#FFF7EF;
    float: left;
    justify-content: space-between;

    h1 {
        display: inline-block;
        line-height: 7rem;
        margin-left: 1.5rem;

    }
}

